<footer class="western-union-footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <!-- Western Union logo or branding -->
          <img src="assets/western-union-logo.svg" alt="Western Union Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <!-- Social media icons or links -->
          <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a>
        </div>
      </div>
    </div>
  </footer>
  