<div class="main-container">
    <mat-card>
        <span class="summary">Summary</span>
        <div class="padding-bottom-10"></div>
            <div>
                <span class="font14">{{subTitle}}</span>
                <sup class="superscript">2</sup>
            </div>
            <hr>
        <div class="padding-bottom-10"></div>
        <div>
           <span class="exchange-rate line-height-16"> {{currencyValueFrom}} {{currencySource}} = {{targetCurrency}} {{currencyTarget}}</span> <br>
           <div class="padding-bottom-20"></div>
           <hr>
           <span class="text-fields transfer-Class">Transfer amount<span class="field-value"> {{amount}} {{currencySource}}</span></span> <br>
           <div class="padding-bottom-15"></div>
           <span class="text-fields fee-class"> Transfer fee<sup class="superscript">2</sup><span class="field-value">+ {{transactionFee}} {{currencySource}}</span></span>   <br>
           <div class="padding-bottom-15"></div>
           <span  class="text-fields total-class"> Transfer total <span class="field-value">{{transactionTotal}} {{currencySource}}</span></span>  <br>
           
        </div>
        <div class="padding-bottom-20"></div>
        <div>
            <span  class="text-fields">Total to receiver</span>
            <hr>
        </div>
        
        <div>
          <span class="field-value">{{moneyTobeTransfer}} {{currencyTarget}}</span>  
          <div class="padding-bottom-10"></div>
        </div>
        
        <div class="padding-bottom-20"></div>
        <hr>
        <div>
            <span class="text-fields">Service time: <sup class="superscript">1,8</sup></span> <span class="field-value">Next banking day</span>
         </div>
         <div class="action-buttons">
            <button mat-raised-button class="btn btn-primary btn-lg btn-block no-margin ng-star-inserted" (click)="proceed()">Proceed</button>     
            <button mat-raised-button class="btn btn-primary btn-lg btn-block no-margin ng-star-inserted" (click)="cancel()">Cancel</button>
         </div>
         <div class="padding-bottom-15"></div>
     </mat-card>       
</div>